{% extends 'tournament/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'tournament/css/about.css' %}">
<main class="content">
    <section class="about-us">
        <h2 style="color: rgb(3, 76, 3);">About Us</h2>
        <div id="content">
            <div class="about-text">
                <p>Established in 2018, Nepal Commerce Campus (NCC) has quickly become a prominent institution in Nepal,
                    known for its competitive spirit and commitment to excellence. Our participation in the BIM Cricket
                    Tournament is a testament to our dedication to fostering talent and promoting sportsmanship among
                    our students.</p>
                <p>Under the guidance of our experienced coach, Basanta Khatri, and the leadership of our captain,
                    Manjeet Thapaliya, our cricket team has consistently been a strong contender in domestic
                    tournaments. Their strategic insights and passion for the game have driven our team to showcase
                    exceptional skills and determination on the field.</p>
                <p>At NCC, we believe that sports play a crucial role in character building and personal development.
                    Our cricket program is designed to provide students with a platform to hone their skills, build
                    confidence, and learn valuable life lessons through the sport. We are committed to creating an
                    inclusive and supportive environment where every student has the opportunity to grow and thrive.</p>
            </div>
            <img src="{% static 'tournament/images/gallerya.jpg' %}" a class="team-image">
        </div>
    </section>

    <section class="about-us">
        <h1 style="color: rgb(3, 76, 3);">Our Vision</h1>
        <div id="content">
            <img src="{% static 'tournament/images/visions.jpg' %}" alt="Our Vision" class="team-image">
            <div class="about-text">
                <p>Our vision is to be a pivotal force in shaping Nepalese cricket, fostering an environment that not
                    only nurtures talent but also instills the values of sportsmanship and teamwork. We aim to be a
                    beacon of inspiration for young players, encouraging them to chase their dreams with determination
                    and resilience. By maintaining a strong sense of brotherhood, we strive to create a supportive
                    community that transcends the boundaries of the cricket field, promoting unity and mutual respect
                    among all members.</p>

                <p> We are committed to providing an unforgettable cricketing experience that goes beyond the game
                    itself. Our goal is to empower our players to reach their full potential and to offer our fans an
                    engaging and passionate sporting experience. Through excellence in performance and a dedication to
                    our community, we seek to create lasting memories and a legacy that will inspire future generations
                    of cricket enthusiasts in Nepal. We believe in the power of cricket to bring people together and to
                    contribute positively to the nation's spirit and identity.</p>
            </div>
        </div>
    </section>

    <section class="mission">
        <h2 style="color: rgb(3, 76, 3);">Our Mission</h2>
        <div id="content">
            <div class="about-text">
                <p>Our mission is to elevate the standard of cricket in Nepal and to serve as a role model for aspiring
                    athletes. We are committed to inspiring young players by demonstrating the value of hard work,
                    dedication, and the power of teamwork. We believe that these qualities are not only essential for
                    success on the field but also for personal growth and development off the field.</p>
                <p>Furthermore, we are dedicated to contributing to the growth of cricket across Nepal. We strive to
                    make the sport more accessible and engaging for all, regardless of their background. By doing so, we
                    hope to create a strong foundation for the future of cricket in Nepal, one that is built on passion,
                    skill, and a love for the game.</p>
            </div>
            <img src="{% static 'tournament/images/mission.jpg' %}" alt="Our Mission" class="team-image">
        </div>
    </section>

    <section class="sponsors">
        <h2 style="color: #000000;">Team Sponsors</h2>
        <div class="sponsor-category">
            <h3>Title Partner</h3>
            <a href="https://www.facebook.com/profile.php?id=61553090427439" target="_blank">
                <img src="{% static 'tournament/images/titlemcd.jpg' %}" alt="MCD Logo" class="sponsor-logo">
            </a>
        </div>
        <div class="sponsor-category">
            <h3>Principle Sponsors</h3>
            <a href="https://www.ntc.net.np/" target="_blank">
                <img src="{% static 'tournament/images/nt.jpg' %}" alt="NTC Logo" class="sponsor-logo">
            </a>
            <a href="https://www.adbl.gov.np/#!" target="_blank">
                <img src="{% static 'tournament/images/krishi.jpg' %}" alt="Krishi Logo" class="sponsor-logo">
            </a>
            <a href="https://nepalbank.com.np/" target="_blank">
                <img src="{% static 'tournament/images/NB.jpg' %}" alt="Nepal Bank Logo" class="sponsor-logo">
            </a>
        </div>
        <div class="sponsor-category">
            <h3>Associate Partners</h3>
            <a href="https://www.artofliving.org/np-en" target="_blank">
                <img src="{% static 'tournament/images/art.png' %}" alt="art of living Logo" class="sponsor-logo">
            </a>
            <a>
                <img src="{% static 'tournament/images/ghca.jpg' %}" alt="ghca Logo" class="sponsor-logo">
            </a>
        </div>
    </section>
</main>
{% endblock content %}