.container {
  display:inline-block;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Dynamically adjust columns */
  gap: 20px;
  padding: 20px;
  max-height: calc(100vh - 80px); /* Leave space for the title */
  overflow-y: auto; /* Scrollable grid */
}
.player-box {
  /* background:rgb(255, 255, 255); */
  border: 3px solid #07650c;
  border-radius: 15px;
  text-align: center;
  padding: 13px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  color: black;
}

.player-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);

}

.player-box img {
  max-width: 130px;
  height: 200px;
  border-radius: 15%;
}

.player-info {
  margin-top: 10px;
}

.player-info h3 {
  font-size: 18px;
  margin: 5px 0;
  font-family: 'Roboto', sans-serif; /* Modern font for names */
}

.player-info p {
  margin: 3px 0;
  font-size: 14px;
  color: #555;
}

a {
  text-decoration: none;
  color: inherit;
}
