<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CricNCC</title>
    <link rel="stylesheet" href="{% static 'tournament/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'tournament/css/player.css' %}">
    <link rel="stylesheet" href="{% static 'tournament/css/form.css' %}">
    <link rel="stylesheet" href="{% static 'tournament/css/table.css' %}">
    <link rel="stylesheet" href="{% static 'tournament/css/stats.css' %}">
    <link rel="stylesheet" href="{% static 'tournament/css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'tournament/css/galleryslider.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>

<body>
    <!-- Header Section -->
    <header class="header">
        <nav class="main-nav">
            <a href="{% url 'homepage' %}" style="text-decoration: none;" class="logoncc">
                <img src="{% static 'tournament/images/newlogo.png' %} " id="team_logo"></a>
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li>
                    {% if user.is_staff %}
                    <div class="dropdown">
                        <a>Squad</a>
                        <div class="dropdown-content">
                            <ol class="custom-list">
                                <li><a href="{% url 'playerlist' %}">Players</a></li><br>
                                <li><a href="{% url 'manageplayer' %}">Manage</a></li><br>
                                <li><a href="{% url 'add_player' %}">Add</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a>Coach</a>
                        <div class="dropdown-content">  
                            <ol class="custom-list">
                                <li><a href="{% url 'coach' %}">Coach</a></li><br>
                                <li><a href="{% url 'coachlist' %}">Manage</a></li><br>
                                <li><a href="{% url 'add_coach' %}">Add</a></li><br>
                            </ol>
                        </div>
                        {% else %}
                <li><a href="{% url 'playerlist' %}">Players</a></li><br>
                <li><a href="{% url 'coach' %}">Coach</a></li><br>
                {% endif %}
                </div>
                </li>
                <li><a href="{% url 'viewmatch' %}">Matchbook</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <div class="dropdown">
                    <li><a>Gallery</a></li>
                    <div class="dropdown-content">
                        <ol class="custom-list">
                            <li><a href="{% url 'gallery1' %}">2023</a></li><br>
                            <li><a href="{% url 'gallery'%}">2024</a></li><br>
                        </ol>
                    </div>
                </div>
                <li><a href="{% url 'contact' %}">Reach Us</a></li>
                {% if user.is_staff %}
                <li><a href="#">StoreControl</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_staff == False %}
                <li class="nav-item"><a href="{% url 'shopview' %}" class="nav-link"><img
                    src="{% static 'tournament/images/shop2.png'%}" height="35px" width="40px"></a>
                </li> 
                {% endif %}
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">
                    <img src="{% static 'tournament/images/logout1.png'%}" height="28px" width="30px"></a>
                    <li>
                    </ul>
        </nav>
    </header>



    <!-- Loader Section -->
    <div id="preloader">
        <img src="{% static 'tournament/images/proloader.gif' %}" alt="Loading...">
    </div>

    <!-- Main Content Section -->
    {% block content %}
    <main class="content">  
     <div class="backimage"><br>
        <i class="tagline"> <span>Bound by Cricket, Fueled by Glory!</span><br>~ CricNCC</i>

            <h1 class="animate">If you <span style="color:rgb(195, 8, 8)"> Don't</span> <br>
                <p> <span style="color: rgb(12, 121, 32);">Practice</span> ,</p>
                You <span style="color: rgb(195, 8, 8);">Don't</span><br> Deserve to <span style="color: rgb(38, 35, 176);">Win</span> .</h1>
                <div class="news">
                    <div class="heading-slider">
                        <p class="headline"> ⭐Top News<i class="wrap"></i>
                        </p>
                        
                        <p>
                            <a href="#" class="typewrite" data-period="200" data-type='[
                            "2021🏆,2023🏆 and 2024🏆",
                            "🥎 Nishan Bharti became the best bowler of BIM CUP 2024.",
                            "🏏Aashish Regmi become the excellent debudant."   
                            ]'>
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </main>
    {% endblock content %}


    <!-- Footer Section -->
    <footer class="footer">
        <p>© 2025 Cricket Tournament. All rights reserved.</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/regs.exe" class="icon instagram" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/aashish-regmi-228868309/" class="icon linkedin" aria-label="Linkedin"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="icon youtube" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
            <a href="#" class="icon pinterest" aria-label="Pinterest"><i class="fab fa-pinterest"></i></a>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'tournament/js/loader.js' %}"></script>
    <script src="{% static 'tournament/js/typewriter.js' %}"></script>
    <script src="{% static 'tournament/js/stats.js' %}"></script>
    <script src="{% static 'tournament/js/galleryslider.js' %}"></script>
</body>
</html>